*{ 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;      
}

.header {
    width: 100vw;
    height: 670px;  
    background: url(../assets/imagenes/angel.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.header h1 {
    color: #ffffff4f; 
    font-family: monospace;
    font-size: 150px; 
    margin-bottom: 55px;
}

#music{
    color: white;
}
/*
.main { 
    padding: 40px; 
}
*/
.content {
    background-color: white;
    display: flex; 
    justify-content: space-between; 
    padding: 60px 70px 65px 80px;
}
.contenedor{
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 60px 70px 65px 80px;
}

h2 {
    color: black;    
    padding-bottom: 20px;
    font-size: 50px;
    font-family: sans-serif;
}

.fun{
    background: linear-gradient(90deg, #ff450deb, #f80074f5);
    background-clip: text;
    color: transparent;
}

.text {
    width: 50%; 
    padding-top: 40px;
}

button {
    background-color: #F55353;
    color: white;
    border: none;
    padding: 11px 22px;
    border-radius: 20px;
    margin-top: 20px;
}

.image img {
    width: 450px; 
}

.tres{
    height: 514px; 
    width: 100vw; 
    background: url(../assets/imagenes/raptis.png); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
}

.footer {
    width: 100vw;
    background-color: #F55353; 
    color: #ffffff;
    padding: 60px 0 20px 0;
    font-family: Arial, sans-serif;
}

.columnas {
    width: 85%;
    margin: auto;
    display: flex;                    
    justify-content: center;
    gap: 133px;

}