*{ 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;  
     
}

.header {
    height: 670px; 
    width: 100vw; 
    background: url(../assets/imagenes/angel.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.header h1 {
    color: #ffffff4f; 
    font-family: monospace;
    font-size: 150px; 
    margin-bottom: 55px;
}
.header #music{
    color: white;
}

.main { 
    padding: 40px; 
}

.content {
    background-color: white;
    display: flex; 
    justify-content: space-between; 
    padding: 60px 70px 0px 80px;
}

h2 {
    color: #ff2f6d; 
    padding-bottom: 20px;
    font-size: 60px;
}

h2 .fun{
    color: black;
}
/* TEXTO */
.text {
    width: 50%; 
    padding-top: 40px;
}

/* BOTÓN */
button {
    background-color: #ff2f6d;
    color: white;
    border: none;
    padding: 11px 22px;
    border-radius: 20px;
    margin-top: 20px;
}
/* IMAGEN */
.image img {
    width: 450px; 
}