*{ 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;     
    font-family: sans-serif; 
}

.header {
    width: 100vw;
    height: 670px;  
    background: url(../assets/imagenes/angel.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.header h1 {
    color: #ffffff4f; 
    font-size: 150px; 
    margin-bottom: 55px;
}

p {
    line-height: 2;
    font-size: 16px;
}

#music{
    color: white;
}

.content {
    background-color: white;
    display: flex; 
    justify-content: space-between; 
    padding: 60px 70px 65px 80px;
}
.contenedor{
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 60px 70px 65px 80px;
}

h2 {
    color: black;    
    padding-bottom: 20px;
    font-size: 50px;
    font-family: sans-serif;
}

.fun{
    background: linear-gradient(90deg, #ff450deb, #f80074f5);
    background-clip: text;
    color: transparent;
}

.text {
    width: 50%; 
    padding-top: 65px;
}

button {
    background-color: #F55353;
    color: white;
    border: none;
    padding: 11px 22px;
    border-radius: 20px;
    margin-top: 20px;
}

.image img {
    width: 450px; 
}

.tres{
    height: 514px; 
    width: 100vw; 
    background: url(../assets/imagenes/raptis.png); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
}

.texto{
    color: white;
    width: 50%; 
    padding-top: 40px;
    padding-right: 50px;
}

.secciontres {
    color: white;
    padding-bottom: 20px;
    font-size: 50px;
    padding-right: 20px;
}

.footer {
    width: 100vw;
    background: linear-gradient(323deg, #df326d, #fb5144);
    color: #ffffff;
    padding: 60px 0 20px 0;
}

.columnas {
    width: 85%;
    margin: auto;
    display: flex;                    
    justify-content: center;
    gap: 133px;
}

.columna h4 {
    font-size: 16px;
    margin-bottom: 40px;
}

.columna p {
    margin: 8px 0;
    opacity: 0.85;                     
}

hr {
    width: 85%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 40px auto 20px auto;
}

.creditos {
    width: 85%;
    margin: auto;
    display: flex;                     
    justify-content: space-between;    
    opacity: 0.85;
}
