*{ 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;      
}

.header {
    height: 670px; 
    width: 100vw; 
    background: url(../assets/imagenes/angel.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.header h1 {
    color: #ffffff4f; 
    font-family: monospace;
    font-size: 150px; 
    margin-bottom: 55px;
}

.header #music{
    color: white;
}

.main { 
    padding: 40px; 
}

.content {
    background-color: white;
    display: flex; 
    justify-content: space-between; 
    padding: 60px 70px 65px 80px;
}
.contenedor{
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 60px 70px 65px 80px;
}

h2 {
    color: #F55353; 
    padding-bottom: 20px;
    font-size: 55px;
}

h2 .fun{
    color: black;
}

.text {
    width: 50%; 
    padding-top: 40px;
}

button {
    background-color: #F55353;
    color: white;
    border: none;
    padding: 11px 22px;
    border-radius: 20px;
    margin-top: 20px;
}

.image img {
    width: 450px; 
}

.tres{
    height: 514px; 
    width: 100vw; 
    background: url(../assets/imagenes/raptis.png); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
}